*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.principal{
    background: lightblue;
}
body {
    height: 100%;
    
    background-image: linear-gradient(#adc9e9 70%,#61acc2);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    letter-spacing: 0em;
}

.contenedor-principal{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.contenedor-central{
    display: flex;
    flex-flow: row nowrap;

    width: 1000px;
    margin: 0 10px 20px 10px;
}

.contenedor-izq{
    flex: 10 1 auto;
    background-color: rgba(0, 0, 0, 0.215);
    border-radius: 10px;

    display: flex;
    flex-flow: column nowrap;
    margin-right: 20px;
}

.logo{
    height: 15%;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

img{
    padding-top: 10px;
}

.area_texto{
    width: 695px;
    height: 65%;
    padding-left: 10%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.textIzq{
    width: 90%;
    height: 80%;
    font-size: 1.6rem;
    border-style: none;
    resize: none;
    outline: none;
    background-color: transparent;
    color: #052051;
    font-family: 'Raleway', sans-serif;
    font-weight: bold
}

.textIzq::placeholder{
    color: rgba(251, 251, 251, 0.7);
}

.warnings{
    height: 25%;
}
    
    .warning{
        padding-left: 14%;
        font-family: 'Raleway', sans-serif;
        font-size: 1.0em;
        color: #052051;
        opacity: 75%;
        display: flex;
    }

.contenedorBotonesIzq{
    height: 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.btn-encriptar{
    width: 200px;
    height: 50px;
    font-size: 15px;
    padding: 6px;
    margin: 10px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: rgb(229, 232, 237);
    background-color: #081523;
    opacity: 85%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.btn-desencriptar{

    width: 200px;
    height: 50px;
    font-size: 15px;
    padding: 6px;
    margin: 10px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    color: #081523;
    background-color: rgb(229, 232, 237);
    opacity: 0.8;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.btn-encriptar:hover,.btn-desencriptar:hover,.btn-copiar:hover{
    transform: scale(1.04);
    box-shadow: 1px 1px 8px #0c234d;
    transition: 1s transform;
}

/*Lado derecho texto*/

.contenedor-der{
    flex: 1 1 auto;

    background-color: rgb(233, 246, 246);
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
}

.salidaTexto{
    height: 85%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.textDer{
    width: 90%;
    height: 90%;

    padding: 10px 10px 10px 10px;
    border-style: none;
    text-align: center;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    background-color: transparent;
    color:rgba(14, 1, 1, 0.741);
    text-transform: lowercase

}

.contenedorBotonesDer{
    height: 15%;
    display: flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items: center;
}

.btn-copiar{ /*no copia en celular*/
    width: 200px;
    height: 50px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    background-color: turquoise;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 40px;
}
/*texto sin encriptar*/
 .sinMensaje{
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

 .img-lumalee{
    width: 150px;
    height: 150px;
 }

.textoSinMensaje1{
    margin-top: 40px;
    color: black;
    font-size: 1.5em;
}

.textoSinMensaje2{
    margin-top: 15px;
    color: #1A1B1C;
    font-size: 15px;
}

.encriptar-desencriptar{

    padding: 10px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 1.6em;
    background: rgb(233, 246, 246);
    font-weight: bold;
    
}

.resultado{
    width: 100%;
    height: 70%;
    margin-top: 40px;
    padding: 10px 10px 10px 10px;
    color: black;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;

}

.hide {
    display: none;
}

/*Footer*/

footer{
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}

.designed{
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0.782);
    font-style: italic;
    text-align: center;
    letter-spacing: 0.02PX; 
}

.nameD{
    color: rgb(255, 255, 255);
    font-style: italic;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.02PX;  
}

.redes a{
    width: 30px;
    height: 40px;
    cursor: pointer;
    padding: .7rem;
    transition: all .5s;
}

.legend{
    font-size: 10px;
}

@media screen and (max-width: 780px ) { 

    .contenedor-central{
        flex-flow: column nowrap;
    }

    .contenedor-izq{
        margin: 20px 20px 20px 20px;
    }

    .area_texto{
        width: 400px;
    }

    .warnings{
        height: 20%;/**/
    }

    .contenedor-der{
        padding-bottom: 25px;
    }

    .img-lumalee{
        width: auto;
    }
}

@media screen and (max-width: 480px ) { /*arreglar porque en ciertos dispositivos queda muy exacto al borde de pantalla*/

    .contenedor-central{
        flex-flow: column nowrap;
    }

    .contenedor-izq{
        margin: 20px 20px 20px 20px;
    }

    .area_texto{
        width: 180px;
    }

    .warnings{
        height: 30%;
    }

    .contenedor-der{
        padding-bottom: 25px;
    }

    .btn-encriptar, .btn-desencriptar{
        width: 120px;
        margin: 1px;
        padding: 6px;
        margin: 10px;
    }

    .img-lumalee{
        width: auto;
    }

    .designed .nameD{
        margin-left: 10px;
    }

    .derechos{
        margin-right: 10px;
    }
}
.icon-instagram:before {
    content: "\ea92";
  }
  .icon-instagram:hover {
    opacity: 80%;
  }
  .icon-github:before {
    content: "\eab0";
  }
  .icon-github:hover {
    opacity: 80%;
  }
  .icon-linkedin:before {
    content: "\eac9";
  }
  .icon-linkedin:hover {
    opacity: 80%;
  }



